<div class="container">
<h1>Messages</h1>
<div class="msg-container">
    <% @messages.each { |msg| %>
      <div class="message-item <%=msg.source%>">
        <h1> <%=msg.title%></h1>
        <p>
          <%= msg.snippet %> <br>
          <%= msg.timestamp %> <!--apply .strf() method later -->
        </p>
        <a href="<%=msg.url%>">Visit Link</a>
      </div>
    <% } %>
</div>
</div>
