<div class="container">
<h1 class="pg-title">Your Messages</h1>
<!-- <#% binding.pry %> -->
<% if @messages.empty? == true%>
<div class="section group">
  <div class="span_1_of_4 gmail-item col">
    <h3>Connect to Gmail</h3>
    <%= link_to 'Connect', auth_at_provider_url('google') %>
  </div>
  <div class="span_1_of_4 twitter-item col">
    <h3>Connect to Twitter</h3>
    <%= link_to 'Connect', auth_at_provider_url('twitter') %>
  </div>
  <div class="span_1_of_4 github-item col">
    <h3>Connect to Github</h3>
    <%= link_to 'Connect', auth_at_provider_url('github') %>
  </div>
  <div class="span_1_of_4 outlook-item col">
    <h3>Connect to Outlook</h3>
    <%= link_to 'Connect', auth_at_provider_url('outlook') %>
  </div>
</div>

<%else%>
  <div class="msg-container">
    <% @messages.each { |msg| %>
      <div class="message-item">
        <div class="info-top <%=msg.source%>">
          <%if msg.source == 'gmail'%>
            <i class= "fa fa-google-plus"></i>
            <p>Gmail</p>
          <%elsif msg.source == 'outlook'%>
            <i class="fa fa-envelope"></i>
            <p>Outlook</p>
          <%elsif msg.source == 'twitter'%>
            <i class="fa fa-twitter"></i>
            <p>Twitter</p>
          <%else%>
            <i class="fa fa-github"></i>
            <p>GitHub</p>
          <%end%>

        </div>
        <div class="message-article">
          <h1 class="message-title"> <%=msg.title%></h1>
          <p><%= msg.snippet %></p>
          <a href="<%=msg.url%>">Visit Link</a>
          <p class="time">Published:  <%= msg.try(:timestamp).try(:strftime, ("%b %e, %Y | %l:%M %p")) %></p>
        </div>
      </div>
    <% } %>
  </div>
<%end%>
</div>
