<div class="container">
<h1>My messages</h1>
<table>
  <tr>
    <th>From</th>
    <th>Subject</th>
    <th>Received</th>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td><%= message['From']['EmailAddress']['Name'] %></td>
      <td><%= message['Subject'] %></td>
      <td><%= message['ReceivedDateTime'] %></td>
    </tr>

    <p>
      replyto<%= message['ReplyTo']  %> <br/>
      <a href="<%= message['WebLink']  %>">weblink</a>
    </p>
  <% end %>
</table>
</div>
