<div class="container center-content">
  <div class="user-section">
    <p id="notice"><%= notice %></p>
    <h3 class="title">Your Info</h3>

    <div class="avatar">
      <%=image_tag("http://api.adorable.io/avatar/#{@user.email.split('@')[0]}", class:'avatar')%>
    </div>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    <div class="connection">
      <p>Google: <%= link_to 'Connect', auth_at_provider_url('google') %>  | Disconnect</p>
      <p>Git: <%= link_to 'Connect', auth_at_provider_url('github') %> | Disconnect</p>
      <p>Twitter: <%= link_to 'Connect', auth_at_provider_url('twitter') %> | Disconnect</p>
      <p>Outlook: <%= link_to 'Connect', auth_at_provider_url('outlook') %> | Disconnect</p>
    </div>


    <%= link_to 'Edit Info', edit_user_path(@user) %> |
    <%= link_to 'View Messages', messages_path %>

  </div>
</div>
