<div class="container">
  <div class="user-container">
    <p id="notice"><%= notice %></p>
    <h3>Your Info</h3>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>


    <h2>Connections</h2>

    <div class="connection">
      <%= @user.authentications.each do |authentication| %>

        <%= authentication.provider %>
        <%= authentication.username %>
        <%= authentication.oauth_token %>

      <% end %>
    </div>

    <div class="connection">
      <p>Google: <%= link_to 'Connect', auth_at_provider_url('google') %>  | Disconnect</p>
      <p>Git: <%= link_to 'Connect', auth_at_provider_url('github') %> | Disconnect</p>
      <p>Twitter: <%= link_to 'Connect', auth_at_provider_url('twitter') %> | Disconnect</p>
      <p>Outlook: <%= link_to 'Connect', auth_at_provider_url('outlook') %> | Disconnect</p>
    </div>


    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>

  </div>
</div>
