<div class="container">
  <div class="user-container">
    <p id="notice"><%= notice %></p>
    <h3>Your Info</h3>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>


    <h2>Connections</h2>

    <div class="connection">
      <%= @user.authentications.each do |authentication| %>

        <%= authentication.provider %>
        <%= authentication.username %>
        <%= authentication.oauth_token %>

      <% end %>
    </div>

    <div class="connection">
      Google: <%= link_to 'Connect', auth_at_provider_url('google') %><br>
      Git: <%= link_to 'Connect', github_redirect_git_path %><br>
      Twitter: <%= link_to 'Connect', auth_at_provider_url('twitter') %>

    </div>


    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>

  </div>
</div>
