<h1>Github Messages</h1>
<div class="section group">
    <% @results.each { |result| %>
      <div class="col span_1_2">
        <p class="messages">
          <%= result.subject.title %>
          <%= result.repository.name %>
          <%= result.repository.owner.login %> <!--apply .strf() method later -->
          <%= result.updated_at %>
          <%= result.repository.html_url %>
        </p>
      </div>
    <% } %>
<ul>
  <% @results.each { |result| %>
  <li>
    <p>
      <%= result.id %>
    </p>

    <p>
      <%= result.subject.type %>
    </p>

    <p>
      <%= result.subject.title %>
    </p>

    <p>
      <%= result.repository.name %>
    </p>

    <p>
      <%= result.repository.owner.login %>
    </p>

    <p>
      <%= result.updated_at %>
    </p>

    <p>
      <%= result.repository.html_url %>
    </p>
  </li>

  <% } %>
</ul>
