<%= form_tag user_sessions_path, method: :post do %>
<div class="login-form">

  <h1 class="greeting">Login</h1>

  <div class="field">

    <%= label_tag :email %>
    <%= email_field_tag :email, params[:email], autocomplete: 'off' %>

  </div>

  <div class="field">

    <%= label_tag :password %>
    <%= password_field_tag :password %>

  </div>

  <div class="actions">

    <%= submit_tag 'login' %>

  </div>
</div>


<% end %>
