<!DOCTYPE html>
<html>
  <head>

    <title>Scrol</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- font-awesome provides social media symbols -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">

  </head>
  <body>
    <div class="wrapper">
    <nav class= "top-nav">
      <%= image_tag("#{ENV['ROOT_URL']}/assets/scrol-col.png", alt: "logo", class: "logo-nav") %>
      <ul class= "nav-ul">
        <% if current_user %>
          <li>
          <!-- @spencer should current_user.id be current_user? -->
          <%= link_to 'Edit Profile', edit_user_path(current_user.id) %>
          </li>
          <li><%= link_to 'Logout', :logout, method: :post %></li>

        <% else %>

          <li><%= link_to 'Register', new_user_path %></li>
          <li><%= link_to 'Login', :login %></li>

        <% end %>

      </ul>

    </nav>

    <div class="notifications">

      <p class='notice'><%= flash[:notice] %></p>
      <p class='alert'><%= flash[:alert] %></p>

    </div>
    <% if current_user %> <!-- Shari: if statement makes the side nav only show up if user is logged in-->
    <div class= "nav-wrapper">
      <ul class= "sidenav">
        <li title="user-icon"><a class="fa fa-user" aria-hidden="true" href="<%=users_path(@user)%>"><%= @user.name %></a></li>
        <li title="gmail-icon"><a class="fa fa-google-plus" aria-hidden="true" href="#">Gmail</a></li>
        <li title="github-icon"><a class="fa fa-github" aria-hidden="true" href="github_results_git_path">Github</a></li>
        <li title="twitter-icon"><a class="fa fa-twitter" aria-hidden="true" href="twitter_index_path">Twitter</a></li>
        <li title="outlook-icon"><a class="fa fa-envelope" aria-hidden="true" href="mail_index_path">Outlook</a></li>
      </ul>
    </div>
    <%end%>

    <main class="main-content">
        <%= yield %>
        <%#= current_user.inspect %>
    </main>

  </body>
</div>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

</html>
