<!DOCTYPE html>
<html>
  <head>

    <title>Scrol</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application','modernizr.js-track' => true %>
    <!-- font-awesome provides social media symbols -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">

  </head>
  <body>

    <nav>

      <% if current_user %>

        <!-- @spencer should current_user.id be current_user? -->
        <%= link_to 'Edit Profile', edit_user_path(current_user.id) %>
        <%= link_to 'logout', :logout, method: :post %>

      <% else %>

        <%= link_to 'Register', new_user_path %>
        <%= link_to 'login', :login %>

      <% end %>

    </nav>

    <div class="notifications">

      <p id='notice'><%= flash[:notice] %></p>
      <p id='alert'><%= flash[:alert] %></p>

    </div>

      <ul class= "sidenav">
        <li title="gmail"><a class="google-plus" href="#">Gmail</a></li>
        <li title="youtube"><a class="youtube" href="#">Youtube</a></li>
        <li title="twitter"><a class="twitter" href="#">Twitter</a></li>
        <li title="facebook"><a class="facebook" href="#">Facebook</a></li>
        <li title="instagram"><a class="instagram" href="#">Instagram</a></li>
      </ul>

      <%= yield %>

  </body>
</html>
